__pycache__/
*.pyc
*.pyo
*.pyd
*.log

config.py

web/dashboard/node_modules/
web/dashboard/build/
web/dashboard/.env
web/dashboard/.parcel-cache/
web/dashboard/.next/
web/dashboard/dist/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

*.bak
*.tmp